<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">

	<appender name="serverlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/authServer.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">     
            <param name="ConversionPattern" value="%p@%t-[%d{yyyy-MM-dd-HH-mm}] %m%n" />     
        </layout>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="serverlog" />
	</root>
</log4j:configuration>